GATEWAY_PORT=3000
FRONTEND_PORT=8080
USER_MANAGER_PORT=3001
RENT_PORT=3002
COMMUNICATION_PORT=3003
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# user-manager

USER_MANAGER_DATABASE_URL=postgres://user:user@postgres-user:5432/userdb
INTERNAL_SERVICE_TOKEN=dev-internal-token
ACCESS_TOKEN_TTL_SEC=900
REFRESH_TOKEN_TTL_SEC=604800

RENT_DATABASE_URL=postgres://rent:rent@postgres-rent:5432/rentdb
RENT_USER_MANAGER_URL=http://user-manager:3001
S3_ENDPOINT=http://s3:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=listing-photos
S3_PUBLIC_BASE_URL=http://127.0.0.1:9000/listing-photos

COMMUNICATION_DATABASE_URL=postgres://comm:comm@postgres-comm:5432/commdb
COMMUNICATION_USER_MANAGER_URL=http://user-manager:3001
COMMUNICATION_RENT_MANAGER_URL=http://rent-manager:3002

USER_GRAPHQL_URL=http://user-manager:4001
RENT_GRAPHQL_URL=http://rent-manager:4002
COMM_GRAPHQL_URL=http://communication-manager:4003
CORS_ALLOWED_ORIGINS=http://127.0.0.1:8080,http://localhost:8080,http://127.0.0.1:3000,http://localhost:3000,http://127.0.0.1:3001,http://localhost:3001,null
